/*
    SLIGHTLY TRANSPARENT
*/
#about-container, #tech-container, #projects-container {
    position: relative;
    z-index: 0;
    background-color: #FFF; /* Control the lightness and tone of the see-through effect */
}
#about-container:after, #tech-container:after, #projects-container:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(https://s3-us-west-1.amazonaws.com/my.portfolio/city_skyline.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.1; /* Control the opacity of the fake see-through background */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=10);
}

/*
    COMPLETELY TRANSPARENT
*/
#about, #tech, #projects, #contact, .anchors {
    position: relative;
    z-index: 0;
    background-color: #FFF; /* Control the lightness and tone of the see-through effect */
}
#about:after, #tech:after, #projects:after, #contact:after, .anchors:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(https://s3-us-west-1.amazonaws.com/my.portfolio/city_skyline.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1; /* Control the opacity of the fake see-through background */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=1);
}

/*
    NAVBAR changes
*/
.navbar-nav li {
    padding-left: 15px;
    padding-right: 15px;
}
.nav-item a {
    color: white !important;
}
div.dropdown-menu.show.dropdown {
    display: inline-flex;
    justify-content: center;
}
div.dropdown-menu.show.dropdown a {
    color: black !important;
    font-weight: 900;
}

/*
    CUSTOM SCROLLBAR - attached to parent container with overflowY
*/
#text-container::-webkit-scrollbar {
    width: 10px;
    height: 30px;
    background-color: transparent;
}
#text-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}
#text-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}
#text-container::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
#text-container::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
}

/*
    MODAL SIZING
*/
.modal-content {
    height: 65vh;
    width: 100%;
    z-index: 9999 !important;
    position: fixed;
    overflow: visible;
}
.modal-dialog.modal-lg.modal-full-height.modal-dialog-centered.modal-bottom {
    width: auto;
    max-width: 100%;
}

/*
    ALL <p> TEXT RESPONSIVE
*/
p {
    font-size: 2vh !important;
}
li.project-description-list-item {
    font-size: 2vh !important
}

/*span.carousel-control-prev-icon {*/
    /*width: 17vh !important;*/
    /*height: 17vw !important;*/
/*}*/
/*span.carousel-control-next-icon {*/
    /*width: 17vw !important;*/
    /*height: 17vh !important;*/
/*}*/

/*
    CAROUSEL STYLES
*/
/*div.carousel.carousel-slider {*/
    /*height: 65vh;*/
/*}*/
/*li.slide.selected {*/
    /*background: transparent !important;*/
/*}*/
/*img.mx-auto.w-responsive {*/
    /*width: 70% !important;*/
/*}*/

html {
    overflow-x: hidden;
}
.ReactModal__Body--open {
    overflow: hidden;
}
div.ReactModal__Content.ReactModal__Content--after-open {
    height: auto;
    width: auto;
    display: block;
    justify-content: center;
    overflow: hidden !important;
}
div.modal-image-container {
    height: 100% !important;
    width: 100% !important;
}
div.ReactModalPortal {
    overflow-y: auto !important;
}