/*
    BODY STYLES
*/
html {
    overflow-x: hidden;
}
p {
    font-size: 2vh !important;
}
@media screen and (min-width: 320px) {
    p {
        font-size: calc(1px * ((100vw - 320px) / 680));
    }
}

/*
    SLIGHTLY TRANSPARENT WALLPAPER
*/
#about-container, #tech-container, #projects-container {
    position: relative;
    z-index: 0;
    background-color: #FFF; /* Control the lightness and tone of the see-through effect */
}
#about-container:after, #tech-container:after, #projects-container:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(https://s3-us-west-1.amazonaws.com/my.portfolio/city_skyline.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.1; /* Control the opacity of the fake see-through background */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=10);
}

/*
    COMPLETELY TRANSPARENT WALLPAPER
*/
#about, #tech, #projects, #contact, .anchors {
    position: relative;
    z-index: 0;
    background-color: #FFF; /* Control the lightness and tone of the see-through effect */
}
#about:after, #tech:after, #projects:after, #contact:after, .anchors:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(https://s3-us-west-1.amazonaws.com/my.portfolio/city_skyline.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1; /* Control the opacity of the fake see-through background */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=1);
}

/*
    NAVBAR changes
*/
.navbar-nav li {
    padding-left: 15px;
    padding-right: 15px;
}
li.nav-item a {
    color: white;
}
a.dropdown-item {
    color: black !important;
}

/*
    CUSTOM SCROLLBAR - attached to parent container with overflowY
*/
#text-container::-webkit-scrollbar {
    width: 10px;
    height: 30px;
    background-color: transparent;
}
#text-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}
#text-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}
#text-container::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
#text-container::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
}

/*
    CAROUSEL STYLES
*/
li.slide {
    background: transparent !important;
}
li.slide.selected {
    background: transparent;
}

/*
    MODAL STYLES
*/
div.styles_modal__gNwvD {
    height: auto;
    max-width: 60vw;
    width: 100%;
}
li.project-description-list-item {
    font-size: 2vh !important
}
